            /*CLASSE*/
            .negrito{
                font-weight: bold; 
            }

            /*ID*/
            #textoPrincipal{
                font-size: 40px;
                font-weight: bold;
                margin: 20px;
            }